* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(88, 88, 88);
  color: white;
}

#grid{
    position: relative;
    display: grid;
    
    gap: 1px;
    background-color: rgb(88,88,88);
    width: calc(100vw-52px);
    height: calc(100vh-52px);
    left: 26px;
    top: 26px;
    background-color: rgb(0, 0, 0);
}

.cell{
    width: 12px;
    height: 12px;
    background-color: white;
}


.cellFood{
    background-color: red;
}

.cellAlive{
    background-color: blue;
}

.cellInfected{
    background-color: green !important;
}

#features{
    position: relative;
    width: 100vw;
    color: white;
    left: 10vw;
    top: 30px;
}

#tickSpeed{
    color: white;
    border: 1px solid white;
    background-color: black;
    width: 30px;
    padding: 2px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

button{
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: black;
    border: none;
    transition: 100ms;
}
button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#traitStats{
    width: 100vw;
    height: 300px;
}

[id="1"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
[id="2"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
[id="3"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
[id="4"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
[id="5"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
[id="6"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
[id="7"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
[id="8"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
[id="9"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
[id="10"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
[id="11"]{
   font-size: 20px;
    color: rgb(255, 255, 255);
}
[id="12"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

